@import "tailwindcss";
@theme {
    --color-background: hsl(168, 31%, 12%);
    --color-text: hsl(246, 76%, 95%);
    --color-fancy: hsl(160, 30%, 74%);

    --font-display: "Roboto", sans-serif;
    --font-fancy: "Lobster", sans-serif;
}